

<section class="footer">

    <div class="box-container">

        <div class="box">
           
        </div>

        

        <div class="box">
            <h3>contact info</h3>

            <a href="https://wa.me/+8801685176228/?text=Hello Shoaib!" target="_blank"  ><h1 class="fab fa-whatsapp" > </h1>  WhatsApp</a>


            <a href="mailto:shoaibhossain24@gmail.com" target="_blank" > 
                <h1 class="fas fa-envelope"></h1> 
                shoaibhossain24@gmail.com
             </a>

             <a href="https://maps.app.goo.gl/VLiL1DxSGHxtBogE7" target="_blank" > 
                <h1 class="fas fa-map-marked-alt"></h1> 
                Uttara Dhaka, Bangladesh.
             </a>
            
           
            <div class="share">

                <a href="https://www.linkedin.com/in/shoaib-hossain-5bb080236/" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/hossain101?tab=repositories" class="fab fa-github" target="_blank"></a>
                
                <a href="https://www.facebook.com/shoaib.hossain.311/" class="fab fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/shoaibhossain24/" class="fab fa-instagram" target="_blank"></a>
            </div>
        </div>
    </div>
   

  <!--Start of Tawk.to Script-->


</section>







</div>
</body>
</html>
