<%- include("partials/header") %>

<section class="work" id="work" data-aos="fade-in" data-aos-delay="300">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container">
    
    </div>
    <div class="backbtn">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

</section>

<%- include("partials/footer")%>