<%- include('partials/header') %>


    <section class="home" id="home">

        <!-- Profile Picture -->

        <div class="image">
            <img draggable="false" class="tilt" src="images/shoaib_profile.png" alt="">

            <h3>Software Engineer</h3>

            <div class="resumebtn">
                <a href="/resume/Shoaib_Hossain_Resume.pdf" class="btn" download=""><span>Download Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

        <div>

        </div>

        <!-- Name -->




        <div class="content">
            <h1>Welcome to my Portfolio!</h1>
            <h3>I'm Shoaib Hossain, a dynamic and results-driven Software Engineer. </h3>


            <h3>Passion drives me, and programming is my playground. My insatiable curiosity fuels my love for exploring
                new technologies, and my hands-on approach has allowed me to stay at the forefront of innovation.</h3>
            <h3>
                Today, I am on a mission to channel my expertise and passion into a reputable company where I can
                contribute solutions to real-world challenges.</h3>
            <h3>I am excited to collaborate, innovate, and drive positive change with like-minded professionals who
                share my zeal for making an impact. </h3>
            <h3>Pursuing excellence in academia and the professional world, my journey has been one of relentless
                learning, growth, and impactful contributions.</h3>
            <!-- Social Links -->

        </div>
    </section>





    <%- include('partials/footer') %>